@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add styles for raw HTML content */
.raw-html {
    background-color: black;
    color: green;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    overflow: auto;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

